<header>
   <%= render 'layouts/header' %>
</header>
      <div class="row">
        <div class="col s12">

<div class="slider fullscreen" id="aft">
    <ul class="slides">
            <% @destaques.each do |destaque| %> 
                <li>
                    <img src="<%= destaque.imagem %>"> <!-- random image -->
                    <div class="caption center-align">
                        <h3><%= destaque.titulo %></h3>
                    </div>
                </li>
      
            <% end %>
    </ul>
  </div>
  </div>
            
            
 <!--Card-->
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="https://gritasaopaulo.com.br/wp-content/uploads/2018/10/DpEKZBrU0AAGs1H.jpg">
              <span class="card-title blue accent-1">Filmes em cartaz</span>
            </div>
            <div class="card-content">
              <p>Clique e veja todos os filmes que estão em cartaz. </p>
            </div>
            <div class="card-action">
              <%= link_to "Veja mais",   lancamentos_path%>
            </div>
          </div>
        </div>
                   <div class="col s12 m4">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="https://mudeiderumo.com/wp-content/uploads/2017/08/saibamais.png">
              <span class="card-title blue accent-2">Sobre o projeto</span>
            </div>
            <div class="card-content">
              <p>Clique e saiba mais sobre o projeto Askcine </p>
            </div>
            <div class="card-action">
              <%= link_to "Veja mais",   sobre_path%>
            </div>
          </div>
        </div>
           <div class="col s12 m4">
          <div class="card">
            <div class="card-image responsive-img">
              <img src="http://br.web.img3.acsta.net/c_400_200/newsv7/18/11/28/17/37/3255383.jpg">
              <span class="card-title blue accent-4">Notícias</span>
            </div>
            <div class="card-content">
              <p>Veja todas as notícias sobre filmes.</p>
            </div>
            <div class="card-action">
              <a href="<?= base_url(); ?>dicas">Veja nossas notícias</a>
            </div>
          </div>
        </div>
      </div>

</div>
</div>
</div>



<div class="row fundoindex center-align">
    <div class="col s12">
    
   <h2>Lançamentos</h2>

         <%= render 'layouts/filmebusca' %>
         
</div>
</div>
  <div class="row fundo1 center-align">
   <div class="col s12"><h2>Últimas notícias</h2>
   <p class="flow-text">Lorem ipsum dolor sit amet, per ornatus feugait deleniti
   in, per equidem nusquam signiferumque ut. Omnium eligendi eam in, alii oratio
   abhorreant sed ei. No sed tantas homero, invenire intellegam reprehendunt an 
   est. Nobis molestie usu et, nec eu scripserit liberavisse. </p>
   </div>
</div> 
</div>
<br><br><br><br>

   <%= render 'layouts/footer' %>