<header>
   <%= render 'layouts/header' %>
</header>
<br>
      <div class="row">
        <div class="col s12">
           <div class="carousel carousel-slider 1 center">
            <% @destaques.each do |destaque| %>
              <a class="carousel-item" href="#one!"><img src="<%= destaque.imagem %>" class="slido"><%= destaque.titulo %></a>
              
            <% end %>

            </div>
          </div>
        </div>
            
 <!--Card-->
 <div id=primeiro>
   <div class="row hide-on-small-only">
        <div class="col s12 m4">
          <div class="card1 card">
            <div class="card-image responsive-img">
              <img src="https://gritasaopaulo.com.br/wp-content/uploads/2018/10/DpEKZBrU0AAGs1H.jpg">
              <span class="card-title blue accent-1">Filmes em cartaz</span>
            </div>
            <div class="card-content">
              <p>Clique e veja todos os filmes que estão em cartaz. </p>
            </div>
            <div class="card-action">
              <%= link_to "Veja mais",   lancamentos_path%>
            </div>
          </div>
        </div>
                   <div class="col s12 m4">
          <div class="card1 card">
            <div class="card-image responsive-img">
              <img src="https://image.ibb.co/f8NxaV/logoask.png">
              <span class="card-title blue accent-2">Sobre o projeto</span>
            </div>
            <div class="card-content">
              <p>Clique e saiba mais sobre o projeto Askcine </p>
            </div>
            <div class="card-action">
              <%= link_to "Saiba mais",   sobre_path%>
            </div>
          </div>
        </div>
           <div class="col s12 m4">
          <div class="card1 card">
            <div class="card-image responsive-img">
              <img src="http://br.web.img3.acsta.net/c_400_200/newsv7/18/11/28/17/37/3255383.jpg">
              <span class="card-title blue accent-4">Notícias</span>
            </div>
            <div class="card-content">
              <p>Veja todas as notícias sobre filmes.</p>
            </div>
            <div class="card-action">
              <%= link_to "Veja todas as notícias",   postagens_path%>
            </div>
          </div>
        </div>
      </div>
      </div>


<div class="row fundoindex center-align">
    <div class="col s12">
    
   <h2>Lançamentos</h2>
<br><br>
         <%= render 'layouts/filmebusca' %>
         
    </div>
</div>
  <div class="row fundo1 center-align">
   <div class="col s12"><h2>Últimas notícias</h2>
   <br> <br>
  
         <%= render 'layouts/noti' %>
   </div>
</div>
<br><br>
</div>
   <%= render 'layouts/footer' %>
   
   
   
<script>
    $('.carousel.carousel-slider.1').carousel({
    fullWidth: true
  });
  
autoplay();
  function autoplay() {
    $('.carousel.carousel-slider.1').carousel('next');
    setTimeout(autoplay, 4500);
}
</script>