<%= render 'layouts/header' %>

<h2>Editar Usuario</h2>
<div class="container center-align">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(deixe em branco se não quiser alterá-lo)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres mínimos</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(precisamos da sua senha atual para confirmar suas alterações)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
  
  
  
  <div class="image-upload">
   <label for="file-input">
     <a class="waves-effect waves-light btn">Upload da imagem do perfil</a>
   </label>

   <%= f.file_field :avatar, id:"file-input" %>

</div>
<br><br>
  <div class="actions">
    <%= f.submit "Alterar Cadastro", :class => "waves-effect waves-light white btn" %>
  </div>
<% end %>

<h3>Cancelar meu cadastro</h3>

<p>Não está feliz? <%= button_to "Cancelar meu cadastro", registration_path(resource_name), data: { confirm: "Tem certeza ?" }, method: :delete, :class => "waves-effect waves-light white btn" %></p>

<%= link_to "Voltar", :back %>
<br><br>
</div>
<%= render 'layouts/footer' %>
