<% if current_user && current_user.admin %>
<header>
   <%= render 'layouts/header-adm' %>
</header>

<p id="notice" class=""><%= notice %></p>

<h2>Filmes</h2>
<div class="container">
    
   <%= render 'layouts/sessaofilme' %>

<br>


<%= link_to 'Inserir filme', new_filme_path %>

<br><br><br><br><br><br>
</div>
   <%= render 'layouts/footer' %>
<% else %>
   <%= render 'layouts/valida' %>
<% end %>