<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>

<div class="row fundoindex center-align">
      <div class="col s12"><h1></h1></div>
      
      
      <div> <%= render 'layouts/modal-login' %> </div>
</div>

<div class="row fundoindex center-align">
   <br><br>
   <h2>Painel administrativo</h2>
   
   
   <%= link_to "Ver filmes",   filmes_path, :class => 'waves-effect waves-light grey darken-4 btn' %>
   <%= link_to "Inserir filme",   filmesnew_path, :class => 'waves-effect waves-light grey darken-4 btn' %> | 
   
   
   <%= link_to "Ver cinemas",   cinemas_path, :class => 'waves-effect waves-light grey darken-4 btn' %>
   <%= link_to "Inserir cinemas",   cinemasnew_path, :class => 'waves-effect waves-light grey darken-4 btn' %> |
   
   <%= link_to "Ver cidades",   cidades_path, :class => 'waves-effect waves-light grey darken-4 btn' %>
   <%= link_to "Inserir cidades",   cidadesnew_path, :class => 'waves-effect waves-light grey darken-4 btn' %> |
   
   <%= link_to "Ver sessões",   sessaos_path, :class => 'waves-effect waves-light grey darken-4 btn' %>
   <%= link_to "Inserir sessão",   sessaosnew_path, :class => 'waves-effect waves-light grey darken-4 btn' %> |
   
   
   
   
<br><br><br><br><br><br><br><br>
</div>

   <%= render 'layouts/footer' %>

<% else %>
   <%= render 'layouts/valida' %>
<% end %>


