<%= render 'layouts/header' %>
     <div class="fundobusca">
    <div class="container center-align">
    <h2>Busca por filmes</h2>
    <h4>Busque um filme pelo seu título ou palavra-chave.</h4>
    <br><br><br>
    <div class="row">
        <%= form_tag(buscar_filme_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "digite aqui" %>
        <br><br><br>
        <%= submit_tag "Buscar filmes", :class => 'btn-large black' %>
        <% end %>
        <br>
        <div class="row">
            <a class="waves-effect waves-light black btn modal-trigger" href="#modal1">Buscar por Gênero</a>
            <div id="modal1" class="modal">
                <div class="modal-content">
                     <h4>Escolha um gênero de sua preferencia</h4>
                      <% @generos.each do |genero| %>
  
                            <p><%= genero.nome %></p>
                            <p><%= link_to 'Ver Cinema', genero_path(:id => genero) %></p>
      
                      <% end %>
                        
                </div>
            <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green black btn">Fechar</a>
            </div>
            </div>
            
            
        
        </div>
        
        </div>
    </div>
    <br>
    <br>
            <% if @filmes.present? %>
                <div class="row fundoindex center-align">
                   <h3>Resultado da busca: <%= params[:search] %></h3>
                         <%= render 'layouts/filmebuscapag' %>
                </div>
                
            <% else %>
             <div class="row fundoindex center-align">
                   <h3>Resultado     da busca: <%= params[:search] %></h3>
            <h4 id="toast">A expressão : <%= params[:search] %> não está em nenhum título de filme em nosso banco de dados</h4>
           <script>
               
                $(document).ready(function(){
                    M.toast({html: 'filme não encontrado', classes:'large rounded'})
                });
           </script>       
           </div>
            <% end %>
  
</div>
