<% if current_user && current_user.admin %>

<h1>Editando Postagem</h1>

<%= render 'form', postagem: @postagem %>

<%= link_to 'Show', @postagem %> |
<%= link_to 'Back', postagems_path %>


 <% else %>
   <%= render 'layouts/valida0' %>
<% end %>
   <%= render 'layouts/footer' %>