<%= form_with(model: comentafilme, local: true) do |form| %>
  <% if comentafilme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comentafilme.errors.count, "error") %> prohibited this comentafilme from being saved:</h2>

      <ul>
      <% comentafilme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="center-align">
<div class="field hide">
    <%= form.label :filme_id %>
    <%= form.text_field :filme_id, required: true, value:params[:id] %>
</div>
  
  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :comentario %>
    <%= form.text_area :comentario %>
  </div>


<br><br>

    <div class = 'waves-effect waves-light btn-large' >
     <%= form.submit 'Publicar Comentario'%>
    </div>
  </div>
<% end %>
<script>

  
    $(document).ready(function(){
    $('select').formSelect();
  });
  
</script>