<%= render 'layouts/header' %>
   
<p>
  <strong>Nome:</strong>
  <%= @cinema.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cinema.endereco %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @cinema.imagem %>
</p>

<p>
  <strong>Fachada:</strong>
  <%= @cinema.fachada %>
</p>

<p>
  <strong>latitude:</strong>
  <%= @cinema.latitude %>
</p>

<p>
  <strong>longitude:</strong>
  <span id='longitudeo'><%= @cinema.longitude %></span>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cinema.cidade.nome %>
</p>
<br>

<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=400x300&markers=size:small%7Ccolor:red%7C#{@cinema.latitude},#{@cinema.longitude}&key=AIzaSyBUjukIceXnw7Qc5ydYkRHhc8xNgFwVbpE", alt: "Map" %>
<br>

<h3>Cinemas Próximos</h3>
<% for cinema in @cinema.nearbys(10) %>
  <li><%= link_to cinema.nome, cinema %> (<%= (cinema.distance.round(2) %> km)</li>
<% end %>


<br><br>

   <%= render 'layouts/footer' %>


