<%= render 'layouts/header' %>
  <% @filmes.each do |filme| %> 
<div class="container align-center">  
  <div class="row">
   <div class="col s12 black-text"><h2><%= filme.nome %></h2></div>   
  </div>
  
  <div class="row">
      <div class="col s6">
          <ul>
              <li>
                      <strong>Filme:</strong>
                      <%= filme.nome %>
              </li>
              <li>
                      <strong>Ano:</strong>
                      <%= filme.ano %>
              </li>
              <li>
                      <strong>Diretor:</strong>
                      <%= filme.diretor %>
              </li>
              <li>
                      <strong>Sinopse:</strong>
                      <%= filme.sinopse %>
              </li>
              <li>
                <strong>Nota do filme</strong>
                <div class="readonly-star">
                <%= rating_for filme, "nome", disable_after_rate: true %>
                </div>
                <% if current_user %>
  <div class="nota">
    <div class="row">
        <a class="waves-effect waves-light black btn modal-trigger" href="#modal2">Dê uma nota ao filme!</a>

        <!-- Modal Structure -->
        <div id="modal2" class="modal">
          <div class="modal-content align-center">
            <h4>      Avalie o filme : </h4>
            <%= rating_for filme, 'nome', star: 5, cancel_hint: 'Cancele a sua nota!', disable_after_rate: false, cancel: true, enable_half: false %>
    
          </div>
          <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green black btn" onClick="window.location.reload();">Fechar</a>
          </div>
        </div>    
    </div>
  </div>
<% end %>

              </li>
              <li>
                    <p><%= link_to 'Ver Sessões do filme', sessoes_filme_path(:id => filme) %></p>
                      
              </li>
          </ul>
     </div>
  <div class="col s6"><img class="center-align"  src="<%= filme.imagem %>" alt="Poster do filme <%= filme.nome %>">
  </div>


  </div>
</div>
          
    
    
<div class="comentario align-center">    
    <div class="row">
        <h2>Comentarios</h2>
    </div>
    <br>
    <% if current_user %>

        <div class="row center-align"><a class="waves-effect waves-light btn-large black blue-text modal-trigger" href="#modal1">Fazer um Comentario</a></div>
        <div id="modal1" class="modal">
        <div class="modal-content">
          <iframe src="<%= new_comentafilme_path(:id => filme) %>"width="700px" height="350px">
                 <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-light btn-large red white-text">Fechar</a>
        </div>
        </div>
    <% end %>
<% end %>
    <% @comentafilmes.each do |comentafilme| %> 
        <div class="container comentario">    
            <div class="row titulo">
                <h4><%= comentafilme.titulo %></h4>
                Por:<b><%= comentafilme.user.username %></b>
                <%= image_tag comentafilme.user.avatar.url(:thumb) ,:class => "perfil"%>
            </div>
            <div class="row conteudo">
                <p><%= comentafilme.comentario %> </p>
            </div>
        </div>    
    <% end %>
</div>

<%= render 'layouts/footer' %>

<script>
$(document).ready(function(){
    $('.icone').html('play_arrow');
    $('.modal').modal();
});

$(document).ready(function(){
    $(".readonly-star .star").each(function() {
      $(this).raty('set', { readOnly: true });
    });
  });
</script>            