<%= render 'layouts/header' %>
<div class="fundobusca">
    <div class="container center-align">
    <h2>Busca por cinema</h2>
    <h4>Busque um cinema pelo seu nome ou palavra-chave.</h4>
    <br><br><br>
        <div class="row">
        <%= form_tag(buscacinema_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "digite aqui" %>
         <br><br><br>
        <%= submit_tag "Buscar cinemas", :class => 'btn-large black' %>
        <% end %>
       
    </div>
    <br>
    <br>
            <% if @cinemas.present? %>
                <div class="row fundoindex center-align">
                   <h3>Resultado da busca: <%= params[:search] %></h3>
                         <%= render 'layouts/cinemabusca' %>
                </div>
                
            <% else %>
             <div class="row fundoindex center-align">
                   <h3>Resultado     da busca: <%= params[:search] %></h3>
            <h4 id="toast">A expressão : <%= params[:search] %> não está em nenhum título de cinema em nosso banco de dados</h4>
           <script>
               
                $(document).ready(function(){
                    M.toast({html: 'Cinema não encontrado', classes:'large rounded'})
                });
           </script>       
           </div>
            <% end %>
  
</div>
</div>
