<%= render 'layouts/header' %>
<div>
    <div class="container center-align">
    <h2>Busca por filmes</h2>
    <h4>Busque um filme pelo seu título ou palavra-chave.</h4>
    <br><br><br>
    <div class="row">
        <%= form_tag(buscafilmes_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Posts" %>
        <br><br><br>
        <%= submit_tag "Buscar filmes", :class => 'btn-large black' %>
        <% end %>
        </div>
    </div>
    <br>
    <br>
            <% if @filmes.present? %>
                <div class="row fundoindex center-align">
                   <h3>Resultado da busca: <%= params[:search] %></h3>
                         <%= render 'layouts/filmebusca' %>
                </div>
                
            <% else %>
             <div class="row fundoindex center-align">
                   <h3>Resultado     da busca: <%= params[:search] %></h3>
            <h4 id="toast">A expressão : <%= params[:search] %> não está em nenhum título de filme em nosso banco de dados</h4>
           <script>
               
                $(document).ready(function(){
                    M.toast({html: 'Filme não encontrado', classes:'large rounded'})
                });
           </script>       
           </div>
            <% end %>
  
</div>