<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h2>Novo Destaque</h2>

<%= render 'form', destaque: @destaque %>

<%= link_to 'Voltar', destaques_path %>
</div>
   <%= render 'layouts/footer' %>
<% else %>
   <%= render 'layouts/valida' %>
<% end %>