   <%= render 'layouts/header' %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @destaque.titulo %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @destaque.imagem %>
</p>
<%= link_to 'Voltar', destaques_path %> |
<% if current_user && current_user.admin %>
<%= link_to 'Editar', edit_destaque_path(@destaque) %>

   <% else %>
   <%= render 'layouts/valida0' %>
<% end %>
   <%= render 'layouts/footer' %>