<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h2>Inserir Cidade</h2>

<%= render 'form', cidade: @cidade %>

    <i class="material-icons left">chevron_left</i>

        <%= link_to 'Voltar', filmes_path %>
<br><br><br><br>


<% else %>
   <%= render 'layouts/valida' %>
<% end %>
</div>
 <%= render 'layouts/footer' %>