<header>
   <%= render 'layouts/header' %>
</header>
<div class="container">
    <br><br><br><br><br>
  <strong>Nome:</strong>
  <%= @cidade.nome %>
</p>
<%= link_to 'Voltar', cidades_path %> |
<% if current_user && current_user.admin %>

<%= link_to 'Editar', edit_cidade_path(@cidade) %> 
<% else %>
   <%= render 'layouts/valida0' %>
<% end %>
<br><br><br><br>
</diV>

   <%= render 'layouts/footer' %>
