<header>
   <%= render 'layouts/header' %>
</header>
<diV class="container">
    <br><br><br><br><br>
  <strong>Nome:</strong>
  <%= @cidade.nome %>
</p>

<%= link_to 'Edit', edit_cidade_path(@cidade) %> |
<%= link_to 'Back', cidades_path %>
<br><br><br><br>
</diV>

   <%= render 'layouts/footer' %>
