<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>

<p id="notice"><%= notice %></p>

<h2>Sessões</h2>
<div class="container">
<table class="highlight">
  <thead>
    <tr>
      <th>Dia</th>
      <th>Horario</th>
      <th>Status</th>
      <th>Cinema</th>
      <th>Filme</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sessaos.each do |sessao| %>
      <tr>
        <td><%= sessao.dia %></td>
        <td><%= sessao.horario %></td>
        <td><%= sessao.status %></td>
        <td><%= sessao.cinema.nome %></td>
        <td><%= sessao.filme.nome %></td>
        <td><%= link_to 'Ver', sessao %></td>
        <td><%= link_to 'Editar', edit_sessao_path(sessao) %></td>
        <td><%= link_to 'Excluir', sessao, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inserir Sessão', new_sessao_path %>

<br><br><br><br><br><br>
</div>

   <%= render 'layouts/footer' %>
<% else %>
   <%= render 'layouts/valida' %>
<% end %>