
<% if current_user && current_user.admin %>
<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h2>Inserir Sessão</h2>

<%= render 'form', sessao: @sessao %>

    <i class="material-icons left">chevron_left</i>

        <%= link_to 'Voltar', filmes_path %>
 
 </div>
 <% else %>
   <%= render 'layouts/valida' %>
<% end %>
   <%= render 'layouts/footer' %>