<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<p>
  <strong>Conteudo:</strong>
  <%= @noticium.conteudo %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @noticium.imagem %>
</p>

<p>
  <strong>User:</strong>
  <%= @noticium.user %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_index_path %>
