<%= form_with(model: sesso, local: true) do |form| %>
  <% if sesso.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sesso.errors.count, "error") %> prohibited this sesso from being saved:</h2>

      <ul>
      <% sesso.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field datepicker">
    <%= form.label :dia %>
    <%= form.text_field :dia %>
  </div>
  
  <div class="field timepicker">
    <%= form.label :horario %>
    <%= form.text_field :horario %>
  </div>

  <div class="field">
    <%= form.label :cinema_id %>
    <%= collection_select(:sesso, :cinema_id, Cinema.all.order(:nome), :id, :nome) %>
  </div>

  <div class="field">
    <%= form.label :filme_id %>
    <%= collection_select(:sesso, :filme_id, Filme.all.order(:nome), :id, :nome) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
  <script>
    
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
  
  $(document).ready(function(){
    $('.timepicker').timepicker();
  });
  
  $(document).ready(function(){
    $('select').formSelect();
  });
         
  </script>
  
<% end %>
