<p id="notice"><%= notice %></p>

<p>
  <strong>Dia:</strong>
  <%= @sesso.dia %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @sesso.horario %>
</p>

<p>
  <strong>Cinema:</strong>
  <%= @sesso.cinema %>
</p>

<p>
  <strong>Filme:</strong>
  <%= @sesso.filme %>
</p>

<%= link_to 'Edit', edit_sesso_path(@sesso) %> |
<%= link_to 'Back', sessos_path %>
