<header>
   <%= render 'layouts/header-adm' %>
</header>
<p id="notice" class=""><%= notice %></p>
<h1>Filmes</h1>
<div class="container">
<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano</th>
      <th>Diretor</th>
      <th>Categoria</th>
      <th>Sinopse</th>
      <th>Imagem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmes.each do |filme| %>
      <tr>
        <td><%= filme.nome %></td>
        <td><%= filme.ano %></td>
        <td><%= filme.diretor %></td>
        <td><%= filme.categoria %></td>
        <td><%= filme.sinopse %></td>
        <td><%= filme.imagem %></td>
        <td><%= link_to 'Ver', filme %></td>
        <td><%= link_to 'Editar', edit_filme_path(filme) %></td>
        <td><%= link_to 'Excluir', filme, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<<<<<<< HEAD
<%= link_to 'Inserir filme', new_filme_path %>
======
<br><br><br><br><br><br>
</div>
<footer>
   <%= render 'layouts/footer' %>
</footer>
>>>>>>> 60fae08845b044acfa0b699860a1f3ea77368b88
