<header>
   <%= render 'layouts/header-adm' %>
</header>
<p id="notice" class=""><%= notice %></p>
<h1>Filmes</h1>
<div class="container">
<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Ano</th>
      <th>Diretor</th>
      <th>Categoria</th>
      <th>Sinopse</th>
      <th>Imagem</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @filmes.each do |filme| %>
      <tr>
        <td class="estufado"><%= filme.nome %></td>
        <td class="estufado"><%= filme.ano %></td>
        <td class="estufado"><%= filme.diretor %></td>
        <td class="estufado"><%= filme.categoria %></td>
        <td class="sinopse"><%= filme.sinopse %></td>
        <td class="estufado"><img src="<%= filme.imagem %>" alt="<%= filme.nome %>"></td>
        <td class="estufado"><%= link_to 'Ver', filme %></td>
        <td class="estufado"><%= link_to 'Editar', edit_filme_path(filme) %></td>
        <td class="estufado"><%= link_to 'Excluir', filme, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'Inserir filme', new_filme_path %>

<br><br><br><br><br><br>
</div>
<footer>
   <%= render 'layouts/footer' %>
</footer>