<% if current_user && current_user.admin %>
<header>
   <%= render 'layouts/header-adm' %>
</header>
<div class="container">
<h2>Inserir Filme</h2>

<%= render 'form', filme: @filme %>
<br>


    <i class="material-icons left">chevron_left</i>

        <%= link_to 'Voltar', filmes_path %>
</div>

</div>
<br>

    <% else %>
   <%= render 'layouts/valida0' %>
<% end %>
   <%= render 'layouts/footer' %>