<p id="notice"><%= notice %></p>

<p>
  <strong>Cd filme:</strong>
  <%= @filme.cd_filme %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @filme.nome %>
</p>

<p>
  <strong>Ano:</strong>
  <%= @filme.ano %>
</p>

<p>
  <strong>Diretor:</strong>
  <%= @filme.diretor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @filme.categoria %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @filme.sinopse %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @filme.imagem %>
</p>

<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>
