<header>
   <%= render 'layouts/header' %>
</header>

<p id="notice"><%= notice %></p>

<div class="filmes1">

   

   <h2> <%= @filme.nome %> </h2>
  <table>
  <tr>
  <td>



<p>
  <strong>Ano:</strong>
  <%= @filme.ano %>
</p>

<p>
  <strong>Direção:</strong>
  <%= @filme.diretor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @filme.categoria %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @filme.sinopse %>
</p>
</td>
<p>
<td>
  <img src="<%= @filme.imagem %>" alt="<%= @filme.nome %> height="50" width="300">
</p>
</td>

</table>
<%= link_to 'Voltar', filmes_path %>
</div>

<footer>
   <%= render 'layouts/footer' %>
</footer>
