<header>
   <%= render 'layouts/header' %>
</header>

<p id="notice"><%= notice %></p>

<div class="filmes1">

   
   
    <div class="col s12 m7">
    <h2 class="header"><%= @filme.nome %></h2>
    <div class="card horizontal">
      <div class="card-image">
         <img src="<%= @filme.imagem %>" alt="<%= @filme.nome %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
      <strong>Ano:</strong>
  <%= @filme.ano %>
</p>

<p>
  <strong>Direção:</strong>
  <%= @filme.diretor %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @filme.categoria %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @filme.sinopse %>
</p>



        </div>
      </div>
    </div>
  </div>
          
   
   
   
   
   
 
<%= link_to 'Voltar', lancamentos_path %>
</div>

<footer>
   <%= render 'layouts/footer' %>
</footer>
