<%= form_with(model: cinema, local: true) do |form| %>
  <% if cinema.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cinema.errors.count, "error") %> prohibited this cinema from being saved:</h2>

      <ul>
      <% cinema.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome %>
  </div>

  <div class="field">
    <%= form.label :endereco %>
    <%= form.text_field :endereco %>
  </div>

  <div class="field">
    <%= form.label :imagem %>
    <%= form.text_field :imagem %>
  </div>

  <div class="field">
    <%= form.label :fachada %>
    <%= form.text_field :fachada %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>
  

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

<div class="field">
    <%= form.label :cidades_id %>
    <%= collection_select(:cinema, :cidade_id, Cidade.all.order(:nome), :id, :nome) %>
  </div>


  <div class="actions waves-effect waves-light black btn">
    <i class="material-icons left">check</i>
    <%= form.submit 'Confirmar Cadastro', :class => 'white-text' %>
  </div>
  
  <script>
  $(document).ready(function(){
    $('select').formSelect();
  });
</script>

<% end %>
