<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>
<h1>Editing Cinema</h1>

<%= render 'form', cinema: @cinema %>

<%= link_to 'Show', @cinema %> |
<%= link_to 'Back', cinemas_path %>
<br><br><br><br>


   <%= render 'layouts/footer' %>

<% else %>
   <%= render 'layouts/valida' %>
<% end %>
