<% if current_user && current_user.admin %>

<header>
   <%= render 'layouts/header-adm' %>
</header>

<h2>Cinemas</h2>
<div class="container">
<table class="highlight">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Endereco</th>
      <th>Imagem</th>
      <th>Fachada</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th>Cidade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cinemas.each do |cinema| %>
      <tr>
        <td><%= cinema.nome %></td>
        <td><%= cinema.endereco %></td>
        <td><%= cinema.imagem %></td>
        <td><%= cinema.fachada %></td>
        <td><%= cinema.latitude %></td>
        <td><%= cinema.longitude %></td>
        <td><%= cinema.cidade.nome %></td>
        <td><%= link_to 'Ver', cinema %></td>
        <td><%= link_to 'Editar', edit_cinema_path(cinema) %></td>
        <td><%= link_to 'Excluir', cinema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Inserir Cinema', new_cinema_path %>
<br><br><br><br>


</div>
<% else %>
   <%= render 'layouts/valida' %>
<% end %>


   <%= render 'layouts/footer' %>