<header>
   <%= render 'layouts/header' %>
</header>

<p>
  <strong>Nome:</strong>
  <%= @cinema.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cinema.endereco %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @cinema.imagem %>
</p>

<p>
  <strong>Fachada:</strong>
  <%= @cinema.fachada %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @cinema.lat %>
</p>

<p>
  <strong>Long:</strong>
  <span id='longo'><%= @cinema.long %></span>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cinema.cidade.nome %>
</p>
<br>
<br>
<%= render 'layouts/map' %>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
<br><br><br><br>


   <%= render 'layouts/footer' %>

