<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @cinema.nome %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @cinema.endereco %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= @cinema.imagem %>
</p>

<p>
  <strong>Fachada:</strong>
  <%= @cinema.fachada %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @cinema.lat %>
</p>

<p>
  <strong>Long:</strong>
  <span id='longo'><%= @cinema.long %></span>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @cinema.cidade.nome %>
</p>
<br>
<br>
<div id="map" data-latitude="<%= @cinema.lat %>" data-longitude="<%= @cinema.long %>">
  <!-- The Map gets drawn here! -->
</div>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: <%= j @cinema.lat %>, lng: <%= j @cinema.long %>};
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 19
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYHyky7nsgHEKTFx7gmuFaR9kbtgtVgWI&callback=initMap"
    async defer></script>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
