
    <% @filmes.each do |filme| %> 
    <div class="col s2 m3 black-text">
      <div class="card small">
        <div class="card-image">
          <img src="<%= filme.imagem %>" alt="Poster do filme <%= filme.nome %>">
          <span class="card-title"><%= filme.nome %></span>
          
          <%= link_to filme, :class => "btn-floating halfway-fab waves-effect waves-light red frente" do %>
              <%= content_tag :i, "", :class => "material-icons icone" %>
          <% end %>
          </div>
        <div class="card-content">
          <p><%= filme.sinopse %></p>
        </div>
      </div>
     </div>
     <% end %>

<script>
$(document).ready(function(){
    $('.icone').html('play_arrow');
});
</script>            