<nav>
    <div class="nav-wrapper grey darken-4 center">
    <a href="https://rails-aulas-rafacava.c9users.io"><img src="https://image.ibb.co/f8NxaV/logoask.png" width=120 height=80></a>
      <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <div class="menu">
        <li><a href="sass.html" class="waves-effect waves-light grey darken-4 btn">Pesquisar Cinemas</a></li>
        <li><a href="/filmes.html" class="waves-effect waves-light grey darken-4 btn">Pesquisar Filmes</a></li>
        <li><a href="collapsible.html" class="waves-effect waves-light grey darken-4 btn">Lançamentos</a></li>
        <li><a href="collapsible.html" class="waves-effect waves-light grey darken-4 btn">Contato</a></li>
        <li> 
             <i class="material-icons medium dropdown-trigger" id="log" href="#!" data-target="dropdown1">person</i>
        </li>
      </ul>
    </div
  </div>
</nav>

  <ul class="sidenav" id="mobile-demo">
        <li><a href="sass.html">Pesquisar Cinemas</a></li>
        <li><a href="badges.html">Pesquisar Filmes</a></li>
        <li><a href="collapsible.html">Lançamentos</a></li>
        <li><a href="collapsible.html">Contato</a></li>
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Login</a></li>
  </ul>
  
  <ul id="dropdown1" class="dropdown-content">
  
  <% if user_signed_in? %>  
      <li><%= link_to current_user.username,   edit_user_registration_path %></li>
      <li><%= link_to "Logout",   destroy_user_session_path, method: :delete %></li>
      <% if current_user.admin %>
          <li><%= link_to "Pagina ADM",   administracao_home_path %></li>
      <% end %>
  <% else %>
      <li><%= link_to "Registrar",   new_user_registration_path %></li>
      <li><%= link_to "Logar",   new_user_session_path %></li>
  <% end %> 
</ul>
<ul id="dropdown2" class="dropdown-content">
  
  <% if user_signed_in? %>  
      <li><%= link_to current_user.email,   edit_user_registration_path %></li>
      <li><%= link_to "Logout",   destroy_user_session_path, method: :delete %></li>
  <% else %>
      <li><%= link_to "Registrar",   new_user_registration_path %></li>
      <li><%= link_to "Logar",   new_user_session_path %></li>
  <% end %> 
</ul>

<script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    $(".dropdown-trigger").dropdown();
  });
</script>
