
    <% @sessaos.each do |sessao| %> 
 
    
    
   
    <div class="col s12 m7">
    <div class="card horizontal">
      <div class="card-image">
         <img class="activator"  src="<%= sessao.filme.imagem %>" alt="Poster do filme <%= sessao.filme.nome %>">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p class="black-text"><h4><%= sessao.filme.nome %></h4></p>
          <p class="black-text"><h5>Nome do cinema</h5><%= sessao.cinema.nome %></p>
          <p class="black-text dia"><h5>Dia da sessão</h5><%= sessao.dia.to_time.strftime("%m/%d/%Y") %></p>
          <p class="black-text hora"><h5>Horário da sessão</h5><%= sessao.horario.strftime("%l:%M %p") %></p>
        </div>
      </div>
    </div>
  </div>
          
   
   
<script>
$(document).ready(function(){
    $('.icone').html('play_arrow');
    
});

   $( document ).ready(function() {
   Notification.requestPermission(/* opcional: callback */);
      
      var notification = new Notification("Deseja lembrar que essa sessao irá iniciar em: <%= j sessao.horario.strftime("%l:%M %p") %>?", {
          icon: '<%= j sessao.filme.imagem %>',
          body: '<%= j sessao.filme.nome %>'
      });
      notification.onclick = function() {
          window.open("http://stackoverflow.com");
      }
});
 $( document ).ready(function() {
if (window.webkitNotifications) {
  alert('Seu browser possui suporte ao Notifications');
}
else {
  alert('Seu browser não possui suporte ao Notifications');
}
});
</script>    
          
    <% end %>

        