<!DOCTYPE html>
<html>
  <head>
    <title>Askcine</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.4/dist/css/foundation.min.css" integrity="sha256-VEEaOnBKVRoYPn4AID/tY/XKVxKEqXstoo/xZ6nemak= sha384-D46t32f421/hB30qwnim2pIcisNN5GU9+6m2Mfnd3dKpTSFidZLa08/1StEiCFId sha512-WkgzH8VKemDfwrp18r+wgbx+oHXOkfd2kJs7ocAXdGDgonXDXh88E90IRtRZRXtO0IHprxYHYlY14h+wyTsUDA==" crossorigin="anonymous">

    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.4/dist/js/foundation.min.js" integrity="sha256-nIta+uoDuxOdt7vhkwgWiMrUOAUOpw4yHSqxX8hzH9c= sha384-Uoy5+aFrgdd+EoziVzbMHQ/zZ4gXO56krCBSyaGNwfj77SOXc8g9jpGyjD+rgfkC sha512-WsTORPRlVaKlvQ+H5IqbHZJLWKmPevk9/OIJACkg7y4j8aRlf+CeFEHpfmdByM0nGm51CSZnHHQP4Cun42BOsQ==" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
      </body>
</html>
